$default-color: #14171b;
$bold-color: #657685;
$link-color-blue: #1c95e1;
$light-color: #e1e8ed;
$medium-color: #9caab4;

.external-source--card {
  border: $light-color 1px solid;
  border-radius: 5px;
  width: 500px;
  margin: auto;

  .external-source--content {
    padding: 10px 15px;
    font-size: 14px;

    .content__title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .content__description {
      margin-bottom: 10px;
    }

    .content__footer {
      color: $medium-color;
    }
  }
}