.stories--container {
  background: white;
  margin: 0 auto;
  border: 1px solid #e1e8ed;
  width: fit-content;
  
  .social-card {
    border-bottom: 1px solid #e1e8ed;
   
    &:hover {
      background: #f5f8fa;
    }
  }

}
.spinner--container {
  margin-top:  40px;
}

.social-card-page {
  padding-top: 20px;
}
