.story-comments {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 0.9em;

  .comment {
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #6b778d;
    position: relative;

    .comment-footer {
      font-size: 0.8em;
      color: #6b778d;
    }

    i.fa-chevron-circle-right {
      position: absolute;
      top: 2px;
      left: -20px;
      color: #6b778d;
    }
  }
}