.stories--container {
  margin: 20px auto;
  border: 1px solid #e1e8ed;
  width: fit-content;
}

.stories--container .social-card {
  border-bottom: 1px solid #e1e8ed;
}

.stories--container .social-card:hover {
  background: #f5f8fa;
}